<html>

<head>

	<title>
		Change Passsword
	</title>
	<link rel="shortcut icon" href="D:/Museum Aggregators/Museum/images.png">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"> </script>
	<script src="D:/Museum Aggregators/bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
	<!-- <script type="text/javascript" src="script.js"></script> -->
	<script type="text/javascript" src="script.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"> </script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
	</script>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/login.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

	</style

</head>

<body ng-app="myModule" ng-controller="loginController">



		<div class="container">
				<div class="login-container">
					<div id="output"></div>
					<div class="avatar"></div>
					<div>
						<div class="form-box">
							<form method="post">
		
								<input type="password" name="username" placeholder="Current Password" ng-model="oldPass" required>
								<input type="password" name="pass" placeholder="New Password" ng-model="newPass" required>
								<input type="password" name="pass" placeholder="Confirm Passsword" ng-model="cNewPass" required>
								<button class="btn btn-info btn-block login" ng-click="changePassword()">
									Change Password
								</button>
								<button class="btn btn-info btn-block login" ng-click="resetPasswordField()">
									Reset
								</button>
		
							</form>
						</div>
		
						<div>
						</div>
					</div>
				</div>
			</div>
		
		
	
</body>

</html>